$design-token: (
  colors: (
    primary-color: #FFFFFF,
    accent-color: #0099FF
  ),
  font-sizes: (
    small: .875rem,
    medium: 1rem,
    large: 2rem
  ),
  font-family: (
    sans-serif: 'Roboto, Helvetica, Arial, sans-serif'
  ),
  web-browser-default-font-size: 16px
);
